{% extends 'shop/basic.html' %}
{% block title%}this is title {% endblock %}
{% block body %}



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Shopping Cart</h1>
      <p>My Shopping Cart is an Ecommerce company headquartered in Bangalore, Karnataka, India, and registered in Singapore.The company focused on online product salling  such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry. Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface.</p>

    </div>
  </div>




</main>





{% endblock %}